[submodule "ideas/seq2seq"]
	path = ideas/seq2seq
	url = https://github.com/google/seq2seq.git
[submodule "ideas/tacotron"]
	path = ideas/tacotron
	url = https://github.com/Kyubyong/tacotron.git
[submodule "ideas/tensor2tensor"]
	path = ideas/tensor2tensor
	url = https://github.com/tensorflow/tensor2tensor.git
[submodule "ideas/transformer"]
	path = ideas/transformer
	url = https://github.com/Kyubyong/transformer.git
[submodule "ideas/residual"]
    path = ideas/residual
    url = https://github.com/KaimingHe/deep-residual-networks.git
[submodule "ideas/residual-1k"]
    path = ideas/residual-1k
    url = https://github.com/KaimingHe/resnet-1k-layers.git
[submodule "ideas/decoupled-multimodal"]
    path = ideas/decoupled-multimodal
    url = https://github.com/Jakobovski/decoupled-multimodal-learning.git
[submodule "ideas/deep-reconstruction"]
    path = ideas/deep-reconstruction
    url = https://github.com/ghif/drcn.git
